append variables
  -
    var categories= [
      {
        image:'finance.png',
        title  :'SSC and Railways',
        text: '10 Mock Tests',
      },
      {
        image:'design.png',
        title  :'ESE and Gate ME',
        text: '8 Mock Tests',
      },
      {
        image:'programmer.png',
        title  :'Gate and PSU CS',
        text: '7 Mock Tests',
      },
      {
        image:'production.png',
        title  :'ESE and Gate CE',
        text: '10 Mock Tests',
      },

      {
        image:'education.png',
        title  :'CAT and MBA',
        text: '12 Mock Tests',
      },
      {
        image:'consultancy.png',
        title  :'PO, Clerk and Insurance',
        text: '3 Mock Tests',
      },
    ];

mixin Category(config)
  .col-sm-6.col-lg-4.pb-lg-6.px-lg-4.pb-4
    .card.py-4.shadow-sm.h-100.hover-top
      .text-center 
        img(src=`${CWD}assets/img/illustrations/${config.image}` height="120" alt='')
        .card-body.px-2
          h6.fw-bold.fs-1.heading-color=config.title
          p.mb-0.card-text=config.text

mixin Categories
  section.py-5
    +Background({ image: `${CWD}assets/img/illustrations/category-bg.png`, attrs: { style: { 'background-position': 'right top', 'background-size': '200px 320px'} }, className: 'd-none d-sm-block' })
    .container
      .row.justify-content-center
        .col-md-9.col-lg-6.text-center.mb-3
          h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-3 Browse tests by category
          p.mb-5 Choose from the list of most popular categories
      .row.flex-center.h-100
        .col-10.col-xl-9
          .row
            each category in categories
              +Category(category)
            