append variables
  -
    var mfeatures = [
      {
        image:'jobs.png',
        title:'Million of jobs, finds <br> the one thats rights for you',
        text:'If you are a candidate who understands the importance of mock tests, then you are at the right place, Go ahead and sign in!!!'
      },
      
      ]

mixin MillionsOfJobs
  +Section.py-0
    each item in mfeatures
      +Feature(item)
    