mixin NavbarJobest
  nav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3.backdrop(data-navbar-on-scroll)
    .container
      a.navbar-brand(href='/') 
          img(src="assets/img/home.svg", alt="",width="91", height="70")
      button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    
      #navbarSupportedContent.collapse.navbar-collapse.border-top.border-lg-0.mt-4.mt-lg-0
        ul.navbar-nav.ms-auto.pt-2.pt-lg-0
          li.nav-item.px-2
            a.nav-link.fw-medium(aria-current='page', href='#' class= currentPage === 'index' ? 'active' : false ) Home
          li.nav-item.px-2
            a.nav-link.fw-medium(href='#features') Jobs
          li.nav-item.px-2
            a.nav-link.fw-medium(href='#pricing') Career tips
          
        form.ps-lg-5
          button.btn.btn-primary(type='button') Sign In
